@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>
<select id="select_option_type">
    <option value="1">静态停泊</option>
    <option value="2">户外运动套餐</option>
    <option value="3">学习体验</option>
    <option value="4">商务接待</option>
    <option value="5">浪漫约会</option>
    <option value="6">亲子家庭</option>
    <option value="7">轻度冒险</option>
    <option value="8">休闲娱乐</option>
</select>
<div>
    <img />
</div>