@{
    ViewBag.Title = "goods_center";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>产品中心</title>
</head>
<body>
    <div id="wrap">
       @* <div id="header"></div>*@
        <div id="content" class="content_productCenter">
            <img class="emotion" src="/img/emotion.png" />
            <span>产品中心还在搭建中</span><span>享受一下我们的定制服务吧</span>
            <a href="/Home/make"><img class="btn_dingzhi" src="/img/btn2_ding.png" /></a>
        </div>
        <div id="footer">
            <a href="/Home/Index"><div class="icon"></div></a>
            <a href="/Home/goods_center"><div class="product_center">产品中心</div></a>
            <a href="/Home/personal_center"><div class="VIPcenter">个人中心</div></a>
        </div>
    </div>
</body>
</html>

