@{
    ViewBag.Title = "首页";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>会员商城首页</title>
</head>
<body>
    <div id="wrap">
        @*<div id="header"></div>*@
        <div id="content">
            <div class="page1_up"><img src="/img/page1_up.png" /></div>
            <div class="page1_font">
                <img src="/img/page1_icon.png" />
                <span>京科游艇让你发现另一种生活美学</span>
                <img src="/img/page1_icon.png" />
            </div>
            <div class="page1_down"><img src="/img/page1_down.png" /></div>
        </div>
        <div id="footer">
            <a href="/Home/Index"><div class="icon"></div></a>
            <a href="/Home/goods_center"><div class="product_center">产品中心</div></a>
            <a href="/Home/personal_center"><div class="VIPcenter">个人中心</div></a>
        </div>
    </div>
</body>
</html>
