@{
    ViewBag.Title = "personal_center";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>个人中心</title>
</head>
<body>
    <div id="wrap">
        <div id="content" class="content_personCenter">
            <div>
                <img class="page3_up" src="/img/bg3_up.png" />
                <a href="/Home/make"><img class="page3_up_btn" src="/img/btn3_ding.png" /></a>
            </div>
            <div>
                <img class="page3_down" src="/img/bg3_down.png" />
                <a href="/Home/book_page"><img class="page3_down_btn" src="/img/btn3_book.png" /></a>
            </div>
        </div>
        <div id="footer">
            <a href="/Home/Index"><div class="icon"></div></a>
            <a href="/Home/goods_center"><div class="product_center">产品中心</div></a>
            <a href="/Home/personal_center"><div class="VIPcenter">个人中心</div></a>
        </div>
    </div>
</body>
</html>

